<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 380px; border-radius: 1rem;">
        <div class="text-center mb-4">
            <h3 class="fw-bold text-primary">Iniciar Sesión</h3>
            <p class="text-muted small">Accede con tus credenciales</p>
        </div>

        <form [formGroup]="loginForm">
            <div class="mb-3">
                <label class="form-label fw-semibold">Correo electrónico</label>
                <input type="email" class="form-control form-control-lg" formControlName="email"
                    placeholder="ejemplo@correo.com" />
            </div>

            <div class="mb-4">
                <label class="form-label fw-semibold">Contraseña</label>
                <input type="password" class="form-control form-control-lg" formControlName="password"
                    placeholder="••••••••" />
            </div>
            <!-- [disabled]="form.invalid" -->
            <button class="btn btn-primary btn-lg w-100 shadow-sm d-flex align-items-center justify-content-center"
                type="button" (click)="onLogin()">
                Login
            </button>
        </form>

        <!-- <p class="text-danger mt-3 text-center fw-semibold">{{ errorMessage }}</p> -->

        <div class="text-center mt-4">
            <small class="text-muted">© 2025 Tulio Consulting</small>
        </div>
    </div>
</div>